.team-container {
  transform: translateY(5%) ;
  margin-left: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 190px);
  gap: 40px; 
  padding: 10px; 
}
.team-heading {
  transform: rotate(-90deg) translateY(200%) translateX(-113%);
  transform-origin: center left;
  position: absolute;
  left: 0;
  text-decoration: underline;
  /* top: 50%; */
  font-size: 6rem;
  font-family: fantasy;
  color: rgb(255, 255, 255);
}

.team-member {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 10px; 
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  width: 180px; 
  height: 180px; 
}

.team-member:hover {
  transform: scale(2); 
  z-index: 6;
}


.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.default-photo, .hover-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hover-photo {
  opacity: 0;
  transition: opacity 0s ease-in-out;
}

.image-container:hover .hover-photo {
  opacity: 1;
}

.image-container:hover .default-photo {
  opacity: 0;
}

.member-name {
  margin-top: 10px; 
  font-weight: bold;
  font-size: 18px; 
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.team-member:hover .member-name {
  opacity: 1;
}

.team-section {
 display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* position: relative; */
  /* height: 100vh; */
}



