/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --secondary-color: #151226;
  --contrast-color: #BF307F;
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(189, 92%, 58%);
  --box-background: #1a1a2e;
  --box-border: #3c3c4e;
  --button-background: #BF307F;
  --button-background-hover: #b9317c;
}

/* Headings */
.h1 {
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--contrast-color);
}

.h2 {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Page Layout */
.page {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  text-align: center;
  background: transparent;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  opacity: 0;
  transform: translateX(100%);
  position: absolute;
}

.page.active {
  left: 0%;
  transform: translateX(0);
  opacity: 1;
}

/* Content Box */
.content-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  border-radius: 15px;
  padding: 30px;
  margin-top: 20px;
  color: var(--white);
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  backdrop-filter: blur(50px);
  transition: all ease 0.3s;
}

.content-box:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 187, 118, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.454);
}

/* Lists */
.page ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.page ul li {
  color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--line);
  text-align: left;
}

.page ul li strong {
  display: block;
  margin-bottom: 5px;
}

/* Buttons */
.btn {
  background-color: var(--button-background);
  border: none;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
}

.btn-primary:hover {
  background-color: var(--button-background-hover);
  opacity: 0.8;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.25rem;
  }

  .content-box {
    padding: 20px;
    margin-top: 15px;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 1.5rem;
  }

  .h2 {
    font-size: 1rem;
  }

  .content-box {
    padding: 15px;
    margin-top: 10px;
  }

  .btn {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .page ul li {
    font-size: 0.9rem;
  }
}
