
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --secondary-color: #151226;
  --contrast-color: #BF307F;
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(189, 92%, 58%);
  --box-background: #1a1a2e; /* Dark blue background */
  --box-border: #3c3c4e; /* Lighter blue border */
  --button-background: #BF307F; /* Button background */
  --button-background-hover: #b9317c; /* Button hover background */
}



.h1 {
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--contrast-color);
}

.h2 {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.page {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  text-align: center;
  background: transparent;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  opacity: 0;
  transform: translateX(100%);
  position: absolute;
}

.page.active {
  left: 0%;
  transform: translateX(0);
  opacity: 1;
}

.content-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.074); /* Semi-transparent background */
  border: 1px solid rgba(255, 255, 255, 0.222); /* Semi-transparent border */
  border-radius: 0.7rem;
  padding: 30px;
  margin-top: 20px;
  color: var(--white);
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  overflow: hidden;
  backdrop-filter: blur(50px); /* Backdrop blur effect */
  transition: all ease 0.3s; /* Smooth transition */
}

.content-box:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 187, 118, 0.25); /* Enhanced shadow on hover */
  border: 1px solid rgba(255, 255, 255, 0.454); /* Slightly more visible border on hover */
}

.content-box::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.content-box::after {
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.page ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.page ul li {
  color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--line);
  text-align: left;
}

.page ul li strong {
  display: block;
  margin-bottom: 5px;
}

.btn {
  background-color: var(--button-background);
  border: none;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
}

.btn-primary:hover {
  background-color: var(--button-background-hover);
  opacity: 0.8;
}
