.wrapper{
    position: relative; 
    margin-left: 500px;
    align-items: center;
    justify-content: center;
    background: #F0F2F6;
    width: 400px;
    height: 500px;
    border-radius: 13px;
    display: flex;
     overflow: hidden;
    transition: height .2s ease;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
    margin-left: 10px;
}
.wrapper.active .form-box.signin{
    transition: translate .18 ease;
    translate: 0;
}
.wrapper.active .form-box.login {
    transition: none;
    translate:-400px;
}
.wrapper .form-box.signin{
    /* margin-left: 100px; */
    position: absolute;
    transition: none;
    translate: 400px;
}
.wrapper .form-box.reset{
    translate: -400px;
    margin-left: -390px;
}
.wrapper.forgot .form-box.reset{
    transition: none;
    translate: 0;
}
.wrapper.forgot .form-box.login{
    transition: none;
    translate: -400px ;
}

/* .wrapper.active-forgot .form-box.reset{
    transition: translate .18 ease;
    translate: 0;
}
.wrapper .form-box.forgot{
    /* margin-left: 100px; */
    /* position: absolute;
    transition: none;
    translate: 400px;
}
.wrapper.active-forgot .form-box.login{
    transition: none;
    transition: 400px;
} */ 



.heading{
    color:#03A9F4 ;
    margin-left: 7%;
    margin-top: 4%;

}
.h2{
    margin-top: 0px;
    margin-top: 0;
    color:#03A9F4;
}

form h1{
    color: #03A9F4;
    margin-left: 100px;
    margin-top: 0px;
}
form .input-box{
    height: 50px;
    position: relative;
    width: 100%;
    margin: 30px 0;
}
.input-box input{
    font-size: 16px;
    color: #000;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,.1);
}

.input-box input::placeholder{

    color: #000;
}
.input-box{
    display: flex;
}
form button{
    color:#fff;
    background: #03A9F4;
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

form a{
    text-decoration: none;
}

.wrapper label{
    margin-top: 18px;
}
.wrapper .form-box.signin input{
    width: 70%;
}