/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --secondary-color: #151226;
  --contrast-color: #BF307F;
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(189, 92%, 58%);
  --box-background: #1a1a2e; /* Dark blue background */
  --box-border: #3c3c4e; /* Lighter blue border */
  --button-background: #1f8ef1; /* Button background */
  --button-background-hover: #1f8ef1; /* Button hover background */
}

body {
  font: 1rem/1.6 sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  background-color: var(--secondary-color);
}

h1 {
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--contrast-color);
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
  background: transparent;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  opacity: 0;
  transform: translateX(100%);
}

.page.active {
  transform: translateX(0);
  opacity: 1;
}

.content-box {
  background-color: var(--box-background);
  border: 2px solid var(--box-border);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  color: var(--white);
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.page ul li {
  color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--line);
  text-align: left;
}

.page ul li strong {
  display: block;
  margin-bottom: 5px;
}

.btn {
  background-color: var(--button-background);
  border: none;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
}

.btn-primary:hover {
  background-color: var(--button-background-hover);
  opacity: 0.8;
}
