*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    /* margin-left: 100px; */
}